@model Outsourced.Models.Administrator

@{
    ViewData["Title"] = "Delete";
}

<div class="section pp-scrollable slide-dark slide-dark-footer slide-personal-intro">
    <div class="slide-container">
        <div class="slide-bg">
            <div class="slide-photo circle-golden slide-intro-circle1 transformLeft"></div>
            <div class="slide-photo circle-brown slide-intro-circle2 transformRight"></div>
            <div class="slide-photo slide-intro-man"></div>
        </div>
        <div class="container">
            <div class="slide-num">1</div>
            <div class="row">
                <div class="col-12">
                    <h1 class="slide-title animate-element delay5 fadeInDown">Удаление</h1>
                    <div class="animate-element delay5 fadeInUp">
                        <form method="post" asp-action="DeleteAdmin" asp-route-username="@Model.UserName">

                            <div class="form-group form-group-material a-form-group">
                                <div class="text-primary">
                                    Вы уверены, что хотитие удалить @Html.DisplayFor(model => model.LastName)
                                    @Html.DisplayFor(model => model.FirstName)
                                    @Html.DisplayFor(model => model.MiddleName)?
                                </div>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </div>
                            <div class="form-group form-group-material a-form-group">
                                <a asp-action="AdminPanel" class="btn btn-dark">Отмена</a>
                            </div>
                        </form>
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                                window.onload = function() {
                                    alert("@ViewBag.Message");
                                }
                            </script>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>